nav {
    background-color: #008b8b;
}
.nav-wrapper {
    padding: 0 2rem;
}
.auth {
    padding-top: 0.3rem;
}

.course-form {
    margin-bottom: 2rem;
}

.alert {
    padding: .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, .3);
    color: red;
}
.inputLink {
    margin-top: 10rem;
}